<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ path("top") }}">Qiita Items</a>
    </div>
    <div id="nav-content" class="collapse navbar-collapse">
        {% block search_form %} {% endblock %}
    </div>
</nav>
<!-- ヘッダー部分 -->
<header class="jumbotron">
    <div class="container">
        {% block header %}{% endblock %}
    </div>
</header>
<div class="container">
    {% block body %}{% endblock %}
</div>
<!-- /.container -->

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
